.navbar {
    border-bottom: solid;
    border-color: var(--brand-red);
}

#lets-start-section {
    background-color: #e9e9e9;
}

#lets-start-section .standard-title {
    font-size: 4.5rem;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#lets-start-section .row {
    padding-top: 50px;
}

.lets-start-image {
    max-height: 350px;
}

.lets-start-divider {
    height: 250px;
    background-image: url("../assets/svg/hero-divider-shape.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    margin-top: -25px;
}

#privacy-section .container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../assets/img/hero-background-black-blue-02.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 35px;
}

#privacy-section .standard-title {
    color: #FFFFFF;
    margin-bottom: 15px;
}

#privacy-section .standard-text {
    color: #FFFFFF;
    margin-right: 50px;
}

.privacy-image {
    max-height: 275px;
}

#usage-guide-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.usage-guide-screenshoots-row {
    margin-top: 50px;
}

.usage-guide-screenshoot-card {
    margin-bottom: 35px;
    padding-top: 15px;
}

.usage-guide-screenshoot-step {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    display: block;
}

.usage-guide-screenshoot-text {
    font-size: 1.4rem;
    text-align: justify;
    color: var(--brand-gray);
    margin-bottom: 20px;
}

.usage-guide-screenshoot-image {
    max-width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.usage-row1-height-offset {
    min-height: 60px;
}

.usage-row2-height-offset {
    min-height: 60px;
}

.usage-guide-menu-example {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    display: inline-block;
    border-color: var(--brand-blue-black);
    font-size: 1.6rem;
}

.usage-guide-option-example {
    font-weight: 600;
}

#video-guide-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#download-section {
    background-color: #e9e9e9;
    padding-bottom: 100px;
}

.download-divider {
    height: 290px;
    background-image: url("../assets/svg/hero-divider-shape-r.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    margin-bottom: -25px;
}

#download-section .standard-title {
    font-size: 4.5rem;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.download-button-wrapper {
    margin-top: 25px;
}

.download-button {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--brand-blue-black);
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: var(--brand-blue-black);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 8px;
}

.download-button:hover {
    text-decoration: none;
    color: #e9e9e9;
    background-color: var(--brand-blue-black);
}

/* 
Responsive
*/

@media (max-width: 991px) {
    .lets-start-divider {
        height: 150px;
    }
    .lets-start-image {
        max-height: 250px;
    }
    #privacy-section .standard-text {
        margin-right: unset;
    }
    #privacy-section .container {
        margin-top: 50px;
        padding-right: 50px;
        padding-left: 50px;
    }
    .privacy-image {
        max-height: 150px;
    } 
    .installation-row2-height-offset {
        min-height: 80px;
    }
    .usage-row1-height-offset {
        min-height: 60px;
    }
    .video-guide-text-box {
        margin-bottom: 25px;
    }
    #download-section {
        padding-bottom: 150px;
    }
    .download-image {
        max-height: 225px;
    }
    .download-text-box {
        margin-top: 35px;
    }
    .download-divider {
        height: 200px;
        margin-bottom: unset;
    }      
}

@media (max-width: 767px) {
    .lets-start-divider {
        height: 100px;
    }
    #lets-start-section .standard-title {
        font-size: 4.5rem;
    }
    .installation-row2-height-offset {
        min-height: 65px;
    }
    #privacy-section .container {
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #usage-guide-section {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .usage-guide-screenshoots-row {
        margin-top: 15px;
    }
    .usage-row1-height-offset {
        min-height: 40px;
    }
    #video-guide-section {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .download-divider {
        height: 150px;
    }    
}

@media (max-width: 575px) {
    #lets-start-section .standard-title {
        font-size: 3.5rem;
    }
    .lets-start-text-box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .installation-row1-height-offset {
        min-height: 110px;
    }
    .usage-row1-height-offset {
        min-height: 70px;
    }
    .usage-row2-height-offset {
        min-height: 80px;
    }
    #privacy-section {
        padding-right: 15px;
        padding-left: 15px;
    }
    .privacy-image {
        max-height: 100px;
    }
    #download-section .standard-title {
        font-size: 3.5rem;
    }    
    .download-button {
        font-size: 2.2rem;
    }
    .download-divider {
        height: 100px;
    }
    #download-section {
        padding-bottom: 100px;
    }
}